.important-neg {background-color: coral;}
.important-pos {background-color: chartreuse;}
.prob-neg{background-color: chartreuse;}
.prob-pos{background-color: coral;}
.feature-part{display:inline-block;width: 30%;}
